/naemon
/nagios
/CMakeSettings.json
/.vs
/libgearman-1.0
/CppProperties.json
/.clang-format
/devtools/headers.zip
/devtools/include
/.idea
/cmake-build-debug
/vendor/json-c
/vendor/iconv
/vendor/yaml_cpp
/build